@media screen and (min-width: 768px) {

    /*header*/
    header {
        grid-template-columns: 3fr 4fr 1fr;
    }
    
    #hamburgerBtn {
        display: none;
    }
    
    #primaryNav {
        display: block;
        grid-column: 2/3;
        grid-row: 1/2;
        padding: 0;
        margin: 6%;
        border: 0;
    }
    
    #primaryNav ul {
        display: flex;
    }
    
    #primaryNav a {
        border: 0;
    }
    
    .navigation {
        grid-column: 3/4;
    }
    
    /*main*/
    main section, main div {
        height: 100%;
        width: 100%;
    }
    
    /*Home Styles*/
    .home-grid {
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 1fr);
        grid-template-rows: auto auto auto;
        gap: 15px;
    }
    
    #hero-banner {
        grid-column: 2/3;
        grid-row: 1/4;
    }
    
    #hero-banner a {
        bottom: 15%;
        right: 10%;
    }
    
    #hero-banner picture img {
        height: 100%;
        width: 100%;
    }
    
    #join {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    
    .event {
        grid-row: 1/2;
        margin-right: 0;
    }
    
    .weather {
        grid-column: 1/2;
        grid-row: 2/4;
    }

    .spotlight {
        display: flex;
        flex-direction: column;
        grid-column: 3/4;
        grid-row: 1/4;
        box-sizing: border-box;
    }
    
    .spotlight section {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    /*footer*/
    footer {
        font-size: 100%;
        display: grid;
        align-items: center;
    }

         /*Discover Styles*/
         .discover-imgs:hover {
            transform: scale(1.2);
            border: 1px solid #00B295;
        }
        
        .discover-grid {
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;
            gap: 15px;
        }
        
        .discover-grid section {
            grid-column: 2/3;
        }
        
        .discover-grid div {
            grid-column: 1/4;
        }
        
        .market-highlight {
            margin-top: 15px;
            box-sizing: border-box;
            border: 10px solid #1F271B;
            box-shadow: 10px 10px 15px #1F271B;
            width: 80%;
        }
        
        .market-highlight:hover {
            opacity: .9;
            transform: scale(1.05);
            transition: 0.5s;
        }
        
        #daysBetweenVisits {
            grid-column: 1/4;
            margin-left: 8px;
            color: white; 
            background-color: #1F271B;
        }
    
    
    }
